[Unit]
Description=Get the Actively Voted on Proposals and Send to S3

[Service]
User=ubuntu
Type=simple
ExecStart=/bin/bash -c "/usr/bin/python /home/ubuntu/Cosmos-Validator-Utility/backend_code/python_server_scripts/getActiveVoteCountToS3/index.py"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
