[Unit]
Description=Get Vote Results 

[Service]
User=ubuntu
Type=simple
ExecStart=/bin/bash -c "/usr/bin/python /home/ubuntu/Cosmos-Validator-Utility/backend_code/python_server_scripts/getFinalProposalResultsToS3/index.py"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
